<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <title>Sobre Nosotros</title>
    <link rel="stylesheet" href="./css/sobreNosotros.css">    
</head>
<body>
     <!-- Navbar contenido -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgba(36, 30, 78, 1);">
            <div class="container">
                    <img src="../../assets/logo.png" alt="CargoFlex Logo" width="80" height="70"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="../../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../Transporte Liviano/TransporteLiviano.html">Livianos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../Transporte Pesado/pesado.html">Pesados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../tonelada/tonelada.html">Toneladas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="SobreNosotros.html">Sobre Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Contactanos.html">Contáctanos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <body>
        <!-- cabecera del body -->
        <div class="dropdown">
            <button class="info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Tema  
            </button>
            <ul class="dropdown-menu dropdown-menu">
                <li><a class="dropdown-item" onclick="changeDark()" >Dark</a></li>
                <li><a class="dropdown-item" onclick="changeWhite()">White</a></li>
            </ul>
        </div>
        <h1>¡Fundadores! -CargoFlex</h1>
        <!-- Fin de la cabecera del body -->
        <!-- Contenedor de Cards -->
        <section class="cards">
            <!-- Cards -->
            <div class="card">                
                <div class="informacion">
                    <h3>Edgar Duran</h3>
                </div>
                <img src="./img/EdgarDuran.jpg" alt="Edgar Duran">
                <div class="frase">
                    <p><mark>"La computadora nació para resolver problemas que antes no existían."</mark> <br><br>— Bill Gates (Fundador de Microsoft)<br><br></p>
                    <a href="https://github.com/IZAI503" target="_blank" >Ver más</a>
                </div>
            </div>
            <div class="card">                
                <div class="informacion">
                    <h3>Mario Alexander</h3>
                </div>
                <img src="./img/MarioAlexander.jpg" alt="Mario Alexander">
                <div class="frase">
                    <p><mark>"La programación es el arte de organizar y dominar la complejidad." </mark> <br><br>— Edsger W. Dijkstra <br>(Pionero de la informática)<br></p>
                    <a href="https://github.com/CanonSh" target="_blank" >Ver más</a>
                </div>
            </div>
            <div class="card">                
                <div class="informacion">
                    <h3>Roberto Mangandi</h3>
                </div>
                <img src="./img/RobertoMangandi.jpg" alt="Roberto Mangandi">
                <div class="frase"><p><mark>"Hablar es barato. Muéstrame el código."</mark><br> <br>— Linus Torvalds (Creador de Linux) <br><br> </p>
                    <a href="https://github.com/Robr44" target="_blank" >Ver más</a>
                </div>
            </div>
            <div class="card">                
                <div class="informacion">
                    <h3>Alejandro Rosales</h3>
                </div>
                <img src="./img/AlejandroRosales.jpg" alt="Alejandro Rosales">
                <div class="frase">
                    <p><mark>"Los buenos programadores saben qué escribir. Los mejores saben qué reescribir (y reutilizar)."<br></mark>— Eric S. Raymond (Desarrollador y autor de "La catedral y el bazar") </p>
                    <a href="https://github.com/" target="_blank" >Ver más</a>
                </div>
            </div>
        </section>
    </body>  
     <!-- Pie de pagina OPC 2--> 
    <footer class="text-center py-4 text-light" style="background-color: #241e4e;">
        <p class="mb-1">&copy;2025 CargoFlex | Todos los Derechos Reservados</p>
        <div class="mb-2">
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous">
    </script>
    <script src="./js/sobreNosotros.js"></script>
</body>
</html>
